#      A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


     Minitab File : Cutlets.mtw

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

Assumptions
Null hyposthesis as Ho: μ1 = μ2 
Thus Alternate hypothesis as Ha: μ1 ≠ μ2 

2 Sample 2 Tail test applicable

In [2]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
Unit_A=pd.Series(df.iloc[:,0])
Unit_B=pd.Series(df.iloc[:,1])

In [4]:
P_value=stats.ttest_ind(Unit_A,Unit_B)
P_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [5]:
P_value[1]

0.4722394724599501

Inference:
(p_value=0.4722) > (α = 0.05); Accept Null Hypothesis
i.e. μ1 = μ2 Thus, there is no difference in diameters of cutlets between two units